# dependencies
node_modules/

# build output
dist/
.astro/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# os / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp

# misc
coverage/

# ig story
ig-story.html
